.menuelement{
    background-color: var(--background-second);
    display: flex;
    align-items: center;
    padding: 20px 15% 20px 20px;
}
.menuelement img{
    max-height: 120px;
}

.menuelement__textblock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    margin-left: 30px;

}
.menuelement__textblock p{
    color: #546285;
}
.menuelement__textblock h3{
font-weight: 450;
}
.menuelement__text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.menuelement__text p{
    margin-top: 6%;
    color: #35B8BE;
}
.menuelement__buttons{
    display: flex;
    gap: 10px;
}
.menuelement__buttons input{
    padding-top: 2.5% ;
    padding-bottom: 2.5%;
    width: 15%;

}

