.footer{
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 200px;
    position: relative;
}
.footer::after {
    content: '';
    background-image: url('../../images/footer.png');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-left: -23%;
    margin-top: -50px;
}
.footer__linksblock {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0%;
    grid-template-areas:
    "logoblock logoblock logoblock company template flowbase";
}
.logoblock { grid-area: logoblock; }
.company { grid-area: company; }
.template { grid-area: template; }
.flowbase { grid-area: flowbase; }
.company,.template,.flowbase {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-left: 25%;

}
.footer hr{
    border-color: rgba(126, 130, 143, 0.09);
    margin-top: 100px;
}
.footer__socialblock{
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
}
.footer__social{
    display: flex;
    margin-left: auto;
}
.footer__social--logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(126, 130, 143, 0.3);
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__socialblock a{
    color: #35B8BE;
}
.logoblock p, a{
    color: #546285;
}
.footer__linksblock b {
    font-weight: 400;
}